@media (max-width: 570px) {

    main {
        width: calc(104px + 104px);
        height: 350px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #h1 {
        padding-right: 0px;
    }

    h1 {
        font-size: 18px;
        line-height: 18px;
    }

    h2 {
        font-size: 8px;
        letter-spacing: 2px;
    }

    p {
        font-size: 10px;
    }

    #left {
        height: 150px;
        border-radius: 10px 10px 0px 0px;
        background-position-y: -55px;
    }

    #right {
        height: 200px;
        margin: 10px;
    }

    .text {
        padding: 5px;
    }

    #span {
        display: flex;
        justify-content: left;
        align-items: center;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    span:first-child {
        font-size: 15px;
        padding-right: 15px;
    }

    span:last-child {
        font-size: 10px;
    }

    button {
        width: 100%;
        height: 25px;
        transition: all 0.3s;
        border-radius: 5px;
    }

    button p {
        font-size: 8px;
        font-weight: bold;
        padding-left: 4px;
    }

    button i img{
        width: 10px;
    }
}